body {
    background-color: rgb(192, 194, 186);
    /* background-image: url('background1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #565b63;
    margin: 0;
    padding: 0;
    font-family: Graphik, sans-serif;
}

.app-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 45px;
    color: rgb(119, 123, 106);
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(192, 194, 186);
}

.nav {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    height: auto;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(192, 194, 186);
    width: 100%;
    height: auto;
}

.nav li {
    list-style-type: none;
    float: left;
    padding: 20px 50px;
    /* margin: 10px 20px; */
}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav a {
    text-decoration: none;
}

.nav li:hover {
    border-top: 5px solid rgb(211, 151, 91);
}

.nav a:visited {
    color: #565b63;
}

.welcome,
.join,
.pick {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    /* background: pink; */
}

.welcome {
    height: 500px;
    background-image: url('header-img.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
}

.join {
    height: 600px;
    background-image: url('join-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.join-buttons {
    width: 100%;
    margin-top: 5%;
    height: 300px;
    background: rgb(211, 151, 91, 0.6);
}
